@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }

    .app {
        &__img {
            margin-left: 100px;
        }
    }

    .preview {
        &__img {
            margin-left: 100px;
        }
    }

    .feedback {
        &__form {
            margin-left: 100px;
        }
    }

    .offer {
        &__item {
            width: 100%;
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }

            &-card {
                left: 20px;
                right: 20px;
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }

    .header {
        &__logo {
            width: 150px;
            height: 25px;
        }
    }

    .menu {
        &__link {
            font-size: 12px;
        }
    }

    .title {
        &--large {
            font-size: 30px;
        }

        &--mini {
            font-size: 16px;
        }
    }

    .app {
        padding: 70px 0;

        &__img {
            margin-left: 70px;
            width: 350px;
        }
    }

    .offer {
        &__item {
            &-card {
                height: 275px;
            }
        }
    }

    .preview {
        &__img {
            margin-left: 70px;
            width: 350px;
        }
    }

    .feedback {
        padding: 100px 0;

        &__form {
            margin-left: 70px;
        }
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }

    .menu {
        display: none;
    }

    .btn {
        &--mini {
            width: 80px;
            height: 30px;
        }

        &--big {
            width: 140px;
            height: 40px;
        }
    }

    .header {
        &__content {
            margin-top: 0px;
            width: 100%;
        }

        &__title {
            font-size: 50px;
        }

        &__descr {
            font-size: 20px;
        }
    }

    .app {
        &__inner-wrapper {
            flex-direction: column;
        }

        &__wrapper {
            margin-top: 40px;
            order: 2;
            width: 90%;
        }

        &__img {
            order: 1;
            margin: 0;
            width: 100%;
        }

    }

    .offer {
        padding-bottom: 170px;

        &__wrapper {
            flex-direction: column;
        }

        &__item {
            height: 200px;
            margin: 0;

            &:not(:first-child) {
                margin-top: calc(222px - 75px); // 182 + 40
            }
        }

        &__item-card {
            height: 200px;
            top: 50%;
            left: 70px;
            right: 70px;
        }
    }

    .tech {
        &__wrapper {
            flex-direction: column;

        }

        &__block {
            width: 100%;
            margin-right: 0;

            &:not(:first-child) {
                margin-top: 40px;
            }

            &-img {
                width: 100%;
            }
        }
    }

    .preview {
        &__inner-wrapper {
            flex-direction: column;
        }

        &__wrapper {
            margin-top: 40px;
            order: 2;
            width: 90%;
        }

        &__img {
            order: 1;
            margin: 0;
            width: 100%;
        }

    }

    .feedback {
        padding: 50px 0;

        &__inner-wrapper {
            flex-direction: column;
        }

        &__wrapper {
            max-width: 100%;
        }

        &__form {
            margin: 0;
            margin-top: 40px;
            width: 100%;
        }

    }

}

@media (max-width: 575px) {
    .container {
        max-width: 280px;
    }

    .descr {
        &--large {
            font-size: 12px;
        }

        &--mini {
            font-size: 10px;
        }
    }

    .title {
        &--big {
            font-size: 25px;
        }
    }
    .header {
        &__top {
            padding: 30px 0;
        }

        &__title {
            font-size: 35px;
        }

        &__descr {
            font-size: 18px;
        }
    }

    .app {
        padding: 40px 0;
    }

    .offer {
        padding-top: 40px;

        &__item {
            &:not(:first-child) {
                margin-top: 180px;
            }

            &-card {
                left: 40px;
                right: 40px;
                height: 240px;
            }
        }
    }

    .preview {
        padding: 50px 0;
    }
}