.app {
    padding: 94px 0;
    &__inner-wrapper {
        display: flex;
        align-items: center;
    }      
    &__wrapper {
        width: 445px;
    }
    &__descr {
        margin-top: 21px;
    }
    &__img {
        margin-left: 125px;
    }

    &__link {
        margin-top: 15px;
        display: inline-block;
    }
}