.descr {
    color: #000000;

    &--large {
        font-size: 14px;
        line-height: 140%;
    }

    &--mini {
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #101010;
    }

    &--white {
        color: #FFFFFF;
    }
}