@import '../base/variables';

.footer {
    font-family: 'Lato', sans-serif;
    padding: 43px 0 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    background: $secondary-color;

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #101010;
    }

    &__address {
        width: 135px;
        margin-top: 19px;
    }

    &__copyright {
        margin-top: 45px;
    }

}