@import '../base/variables';

.offer {
    padding: 63px 0 229px;
    background: $secondary-color;
    &__wrapper {
        margin-top: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        background: url('../img/card-item-1.png') center center / cover no-repeat;
        width: 350px;
        height: 250px;
        position: relative;
        text-align: center;

        &:nth-child(2) {
            background: url('../img/card-item-2.png') center center / cover no-repeat;
        }

        &:nth-child(3) {
            background: url('../img/card-item-3.png') center center / cover no-repeat;
        }

        &-card {
            padding: 26px 20px;
            height: 198px;
            background: #FFFFFF;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            position: absolute;
            top: 157px;
            left: 29px;
            right: 29px;
        }

        &-descr {
            margin-top: 20px;
        }

        &-link {
            margin-top: 12px;
            display: inline-block;
        }
    }
}