.title {
    font-weight: 500;
    color: #000000;

    &--large {
        font-size: 36px;
        line-height: 42px;
        color: #000000;
    }

    &--mini {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #101010;
    }

    &--center {
        text-align: center;
    }

    &--white {
        color: #FFFFFF;
    }
}